@use "../custom"as *;

.section-2 {
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;

  .container{
  justify-content: center;
  text-align: center;


  .row{
    justify-content: center;
    text-align: center;
    .featured-img-col-1, .featured-img-col-2, .featured-img-col-3{
        justify-content: center;
        text-align: center;
        padding: 0;
       
      img{
        max-width: 370px;
        margin: .3rem 0;
        //MEDIUM SCREENS
        @include media-breakpoint-between(sm, lg){
          max-width: 230px;
        }
        //SMALL SCREENS
        @include media-breakpoint-down(sm){
          max-width: 300px;
        }
      }
      .last-Image-col-1{
        margin-bottom: 2rem;
      }
    }


  }
  .title{
    margin: 4rem;
    justify-content: center;
    text-align: center;
    //SMALL DEVICES {
    @include media-breakpoint-down(sm){
        margin: 2rem;
    }
    h1 {
      color: #fff;
      padding: 20px 40px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
      border: 1px solid #000;
      background: transparent;
    }
    
    h1:hover:after {
      top: 0;
      left: 0;
    }
    
    h1:after {
      content: "";
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 10px;
      left: 10px;
      transition: 0.2s;
        background: rgb(166, 51, 150);
        background: linear-gradient(90deg, rgba(166, 51, 150, 1) 20%, rgba(89, 29, 157, 1) 100%);
    }
  }
  }


}

