@use "../custom" as *;


body{

  // Navigation for JS 
  font-family: "Pacifico",
  cursive;
  [data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }

  .active-underline{
    text-align: center;
    margin-top: 1rem;
  }
  .active-underline::after{
    content: "";
    width: 4rem;
    height: 0.1rem;
    display: block;
    background-color: $primary;
  }

}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

  i{
    display: block;
    font-size: 1.5rem;
  }
}

#myBtn:hover {
  background-color: #555;
}



.gradient{
  background: rgb(166, 51, 150);
  background: linear-gradient(90deg, rgba(166, 51, 150, 1) 20%, rgba(89, 29, 157, 1) 100%);
}


